---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedIn from "../components/icons/LinkedIn.astro";
import Github from "../components/icons/Github.astro";
import Seccion from "../components/Seccion.astro";
import Pildoras from "../components/Pildoras.astro";
import Mail from "../components/icons/Mail.astro";
import Experiencia from "../components/Experiencia.astro";
import ExperienciaIcon from "../components/icons/ExperienciaIcon.astro";
import CodeIcono from "../components/icons/CodeIcono.astro";
import Projectos from "../components/Projectos.astro";
import Conocimientos from "../components/icons/conocimientos.astro";
import ConocimientosPage from '../components/ConocimientosPage.astro';
import SobreMi from "../components/Sobremi.astro";
---

<Layout title="Portfolio Stefano Rovetta - Desarrollador y Programador web ">
  <main class="px-4 max-w-[365px] sm:max-w-[640px] md:max-w-[768px] lg:max-w-[1024px] xl:max-w-[1120px]">
    <Seccion class="py-10">
      <img
        class="w-12 h-12 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500"
        src="https://i.ibb.co/YZWQxFF/IMG-20241113-065835.jpg"
        alt="Imagen de perfil portfolio programador"
      />

      <h1
        class="text-white md:text-4xl text-2xl lg:text-5xl font-bold flex justify-center flex-row gap-x-4 pb-6 lg:pb-4"
      >
        Hola, soy Stefano
        <a
          href="https://www.linkedin.com/in/srovettaterr%C3%B3n/"
          target="_blank"
          rel="noopener"
          class="flex items-center transition md:justify-center md:hover:scale-105"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-xl lg:text-2xl text-center max-w-[700px] text-wrap">
        <span class="text-red-600">Desarrollador web.</span> Sevilla, España, me
        especializo en crear soluciones o aplicaciones únicas.
      </h2>
      <nav class="flex gap-4 mt-2 flex-wrap">
        <Pildoras href="https://www.linkedin.com/in/srovettaterr%C3%B3n/">
          <LinkedIn class="size-4 md:size-6" />
          LinkedIn
        </Pildoras>
        <Pildoras href="https://github.com/Oquismo">
          <Github class="size-4 md:size-6" />
          Github
        </Pildoras>
        <Pildoras href="mailto:rovetta215@gmail.com">
          <Mail class="size-4 md:size-6" />
          Contactame
        </Pildoras>
      </nav>
    </Seccion>
    <Seccion id="experiencia" class="py-10">
      <h2
        class="text-2xl font-semibold mb-6 flex justify-start gap-x-2 items-center"
      >
        <ExperienciaIcon class="size-6 flex" />
        Experiencia
      </h2>
      <Experiencia />
    </Seccion>
    <Seccion id="projectos" class="  py-1">
      <h2
        class="text-2xl font-semibold mb-6 flex justify-start gap-x-2 items-center"
      >
        <CodeIcono class="size-6 flex" />
        Proyectos
      </h2>
      <Projectos class="" />
    </Seccion>

    <Seccion id="conocimientos" class="py-1">
      <h2
        class="text-2xl font-semibold mb-6 flex justify-start gap-x-2 items-center"
      >
        <Conocimientos class="size-6 flex" />
        conocimientos
      </h2>
      <ConocimientosPage/>
<SobreMi/>





    </Seccion>
  </main>
</Layout>
