---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import LinkedIn from '../components/icons/LinkedIn.astro'
import Github from '../components/icons/Github.astro'
import Seccion from '../components/Seccion.astro'
import Pildoras from '../components/Pildoras.astro';
import Mail from '../components/icons/Mail.astro'
import Experiencia from '../components/Experiencia.astro';
import ExperienciaIcon from '../components/icons/ExperienciaIcon.astro';
import CodeIcono from '../components/icons/CodeIcono.astro';
import Projectos from '../components/Projectos.astro'

---

<Layout title="Portfolio Stefano Rovetta - Desarrollador y Programador web ">
     
    <main  class="px-4 ">
        <Seccion class="py-10" >
			<img  class="rounded-full w-12 h-12 mb-4"  src="../../images/imagenPerfil.jpg" alt="Imagen de perfil" />
            <h1 class="text-white md:text-4xl text-2xl lg:text-5xl font-bold flex justify-center flex-row  gap-x-4 pb-6 lg:pb-4">
                Hola, soy Stefano
                <a href="https://www.linkedin.com/in/srovettaterr%C3%B3n/" target="_blank" rel="noopener" class="flex justify-center items-center" >
                    <Badge>Disponible para trabajar</Badge>
				</a>
            </h1>
            <h2 class="text-xl lg:text-2xl text-center max-w-[700px] text-wrap">
                <span class="text-red-600">Desarrollador web.</span> Sevilla, España, me especializo 
				en crear soluciones o aplicaciones únicas.
				
            </h2>
            <nav class="flex gap-4 mt-2 flex-wrap" >
                <Pildoras href="https://www.linkedin.com/in/srovettaterr%C3%B3n/" >
                <LinkedIn class="size-4 md:size-6"/>
                LinkedIn
                </Pildoras>
                <Pildoras href="https://github.com/Oquismo" >
                <Github class="size-4 md:size-6"/>
                Github
                </Pildoras>
                <Pildoras href="mailto:rovetta215@gmail.com" >
                <Mail class="size-4 md:size-6"/>
                rovetta215@gmail.com
                </Pildoras>
            </Seccion>
            </nav> 
        <Seccion id="experiencia" class="py-10">

            <h2 class="text-2xl font-semibold mb-6 flex justify-start gap-x-2 items-center" >
            <ExperienciaIcon class="size-6 flex " />
            Experiencia</h2>
            <Experiencia/>
    </Seccion>
    <Seccion id="projectos" class="py-1">

        <h2 class="text-2xl font-semibold mb-6 flex justify-start gap-x-2 items-center" >
        <CodeIcono class="size-6 flex " />
        Proyectos</h2>
        <Projectos/>
    </main>
</Layout>