---
import ExperienciaItem from "./ExperienciaItem.astro"

const EXPERIENCIA =[

{
 date: 'Actualmente',
 title: 'Barrio de oportunidades',
 description:'Actualmente, estoy trabajando en Barrio de Oportunidades, donde además de dar clases de programación básica he desarrollado varias webs.',
 link: '#'

},
{
 date: '2024/2025',
 title: 'Proyectos personales y autoaprendizaje',
 description:'Durante este periodo, me enfoqué en proyectos personales y autoaprendizaje, explorando nuevas tecnologías y frameworks. Trabajé en aplicaciones web y móviles, mejorando mis habilidades en programación y diseño. Aprendí a integrar APIs, optimizar el rendimiento y aplicar buenas prácticas de desarrollo ágil.',
 link: '#'

},

{
 date: 'Julio 2024',
 title: 'Master en desarrollo web',
 description:'Me especialicé en Desarrollo Web, donde trabajé con tecnologías como Node.js, Express, MongoDB, y React. Aprendí a crear aplicaciones web dinámicas y escalables, integrando bases de datos, APIs y servidores. Además, optimicé tanto el backend como la experiencia de usuario en el frontend, aplicando buenas prácticas de desarrollo y seguridad.',
 link: '#'

},


{
 date: 'Abril 2024',
 title: 'Master en diseño web',
 description:'Completé un máster en Diseño Web, donde perfeccioné habilidades avanzadas en HTML5, CSS3 y JavaScript. Diseñé y desarrollé proyectos interactivos, responsivos y centrados en la experiencia del usuario, aplicando buenas prácticas de accesibilidad y rendimiento web.',
link: '#'
},


]
---
<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3 ">
    {
        EXPERIENCIA.map(experiencia=>(
        <li class="mb-10 ms-4">
            <ExperienciaItem {...experiencia} />
        </li>
        ))
    }                   
</ol>

