<header class="flex justify-center items-center py-4 sm:py-8 w-full max-w-[365px] sm:max-w-[640px] md:max-w-[768px] lg:max-w-[1024px] xl:max-w-[1120px] mx-auto">
    <nav class="flex flex-col sm:flex-row gap-y-4 sm:gap-y-0 sm:gap-x-6 md:gap-x-10 opacity-80 text-center sm:text-left">
        <a href="/" class="hover:text-blue-500 transition-colors">Inicio</a>
        <a href="#SobreMi" class="hover:text-blue-500 transition-colors">Sobre mi</a>
        <a href="#projectos" class="hover:text-blue-500 transition-colors">Proyectos</a>
        <a href="#experiencia" class="hover:text-blue-500 transition-colors">Experiencia</a>
    </nav>
</header>