---
const ImagenPersonal = "StefanoFoto"
// import ImagenPersonal2 from '../../public/imagenStefano.jpeg'
---

<article class="flex flex-col items-center justify-center gap-8 text-white/200 dark:text-gray-300 md:flex-row">
    <div
      class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
    >
      <p>
        Soy Stefano, un desarrollador web que está dando 
        sus primeros pasos en este emocionante mundo. <strong
        >Aunque empecé hace poco, ya he trabajado con tecnologías como Next.js, React y Node.js,</strong
        > ente otras.
      </p>
  
      <p>
        Estoy siempre buscando aprender y mejorar.<strong>
        Me gustan los desafíos y disfruto creando soluciones que realmente marquen la diferencia.</strong> 
      </p>
  
      <p>
        Si te interesa conocer más sobre mi trabajo, <strong> no dudes en explorar mi portafolio. ¡Espero que te guste!</strong> 
      </p>
    </div>
  
    <img 
      width="200" 
      height="200" 
      src="https://i.imgur.com/BaEegUL.jpeg" 
      alt="Stefano Rovetta - Desarrollador Web" 
      class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20" 
      style="object-position: 50% 50%"
      loading="lazy"
      decoding="async"
    >
  
</article>